/* form.css */
/* dynamic media queries */
/* variables for form.css */
/* breakpoints */
/* Magento RWD */
/* border-radius */
/* textfield colors */
/* description color */
/* button colors */
/* structure vars */
/****************************/
/* Forms reset/base         */
/****************************/
/* to remove the outline on input fields click in firefox */
input::-moz-focus-inner {
  border: 0;
}

/* to remove yellow background with autofill in chrome etc */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

fieldset {
  border: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="search"],
input[type="datetime-local"],
textarea,
select[multiple="multiple"] {
  width: 100%;
  max-width: 22em;
  border-radius: 3px;
  -webkit-appearance: none;
  border: 1px #ccc solid;
  font-size: .9em;
  padding: .5em;
  margin-bottom: .5em;
  background-color: #fff;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #3263af;
}

button:focus {
  outline: none;
}

/* Normalize buttons in IE */
button {
  width: auto;
  overflow: visible;
}

/* Hand cursor on clickable controls */
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

/* Trick with vertical align for radio and checkbox  */
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  top: -1px;
  margin-right: .5em;
}

/* Normalize search fields */
input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/****************************/
/* BUTTONS                  */
/****************************/
/* Normal state */
.btn,
button {
  display: inline-block;
  -webkit-appearance: none;
  border: 0;
  background-color: #3263af;
  border: 1px #3263af solid;
  color: #fff;
  font-size: 1em;
  border-radius: 3px;
  text-align: left;
  height: 2.5em;
  line-height: 2.4em;
  padding-right: 1em;
  padding-left: 1em;
  margin-bottom: .5em;
  margin-right: .5em;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}

.btn.sec,
button.sec {
  background-color: #898989;
  border-color: #898989;
  color: #fff;
}

/* Hover & focus state */
.btn:hover,
button:hover,
.btn:focus,
button:focus {
  background-color: #274d87;
  border-color: #274d87;
  color: #fff;
}

.btn.sec:hover,
button.sec:hover,
.btn.sec:focus,
button.sec:focus {
  background-color: #707070;
  border-color: #707070;
  color: #fff;
}

/* Active state */
.btn:active,
button:active {
  background-color: #497ccb;
  border-color: #497ccb;
  color: #fff;
}

.btn.sec:active,
button.sec:active {
  background-color: #a3a3a3;
  border-color: #a3a3a3;
  color: #fff;
}

/* Disabled */
button:disabled,
button:disabled:hover,
button:disabled:focus,
button.disabled,
button.disabled:hover,
button.disabled:focus,
.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus,
button.sec:disabled,
button.sec:disabled:hover,
button.sec:disabled:focus,
button.sec.disabled,
button.sec.disabled:hover,
button.sec.disabled:focus,
.btn.sec.disabled,
.btn.sec.disabled:hover,
.btn.sec.disabled:focus {
  background-color: #e5e5e5;
  border-color: #ccc;
  color: #ccc;
  cursor: default;
}

div[class^="text-"].required > label:after,
div[class^="multi_radio-"].required > label:after,
div[class^="select-"].required > label:after,
div[class^="email-"].required > label:after,
div[class^="checkbox-"].required > label:after,
div[class^="password-"].required > label:after,
div[class^="multi_checkbox-"].required > label:after,
div[class^="multi_text-"].required > label:after,
div[class^="textarea-"].required > label:after {
  content: " *";
  display: inline;
}

/* mobile structure */
div[class^="text-"],
div[class^="multi_radio-"],
div[class^="select-"],
div[class^="email-"],
div[class^="checkbox-"],
div[class^="password-"],
div[class^="multi_checkbox-"],
div[class^="multi_text-"],
div[class^="textarea-"] {
  display: block;
  margin-bottom: .5em;
}

label {
  display: block;
  margin-bottom: .5em;
  line-height: 1.35;
  vertical-align: top;
}

.custom-select {
  display: inline-block;
  margin-bottom: .5em;
}

.mono-checkbox,
.multi-checkbox,
.multi-radio,
.multi-text {
  display: inline-block;
}

p.description {
  display: block;
  line-height: 1.35;
  font-size: .8em;
  margin-bottom: 1.25em;
  color: #999;
}

@media all and (min-width: 600px) {
  /* tablet structure */
  label {
    display: inline-block;
    min-width: 180px;
  }

  .mono-checkbox label,
  .multi-checkbox label,
  .multi-radio label,
  .multi-text label {
    display: block;
    min-width: 0;
  }

  div[class^="text-"] label,
  div[class^="email-"] label,
  div[class^="password-"] label,
  div[class^="multi_text-"] label,
  div[class^="textarea-"] label {
    line-height: 2;
  }

  .button-set {
    overflow: hidden;
    margin-left: 180px;
    max-width: 20em;
  }
  .button-set button, .button-set .btn {
    float: right;
    margin-right: 0;
    margin-left: .5em;
  }

  p.description {
    padding-left: 190px;
  }
}
@media all and (min-width: 1000px) {
  /* desktop structure */
  label {
    min-width: 240px;
  }

  .button-set {
    margin-left: 240px;
  }

  p.description {
    padding-left: 250px;
  }
}
